* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
html {
  font-size: 62.5%;
}
/* navbar */

.nav-links {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  padding-left: 10rem;
  z-index: 10;
}
.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  padding: 2rem 3rem;
  text-align: center;
  text-shadow: 0 0.1rem 0.2rem rgb(0, 0, 0);
  transition: color 0.1s ease;
}
.logo {
  position: fixed;
  width: 4.5rem;
  top: 1rem;
  left: 4rem;
  cursor: pointer;
  margin-right: 3rem;
  z-index: 20;
}

.nav-links a:hover {
  color: rgb(243, 209, 96);
}
.nav-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem;
  z-index: 20;
  display: none;
  cursor: pointer;
}

.bar {
  height: 0.2rem;
  width: 2.5rem;
  background-color: white;
  margin: 0.4rem;
  transition: all 0.3s ease;
  border-radius: 0.1rem;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-0.4rem, 0.5rem);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-0.4rem, -0.5rem);
}
/* end of navbar */
/* banner */
.banner-container {
  position: relative;
  height: 100vh;
  background: url(./images/pexels-photo-258045.jpeg) center no-repeat fixed;
  background-size: cover;
  overflow-x: hidden;
}
.banner-text {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
  max-width: 80%;
  text-shadow: 0 0.1rem 0.7rem rgb(51, 51, 51);
  padding: 4rem;
}
.banner-text h1 {
  font-size: 7rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.banner-text p {
  font-size: 3rem;
  margin-top: 2rem;
}
.banner-text button {
  padding: 1.5rem;
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  margin-top: 5rem;
  background-color: rgb(230, 189, 57);
  border: none;
  box-shadow: 0 0 0.8rem rgb(44, 43, 43);
  font-weight: 500;
  transition: all 0.2s ease;
  outline: none;
  cursor: pointer;
}
.banner-text button:hover {
  background-color: rgb(219, 179, 46);
}
@media (max-width: 720px) {
  .nav-links {
    flex-direction: column;
    position: fixed;
    width: 40%;
    right: 0;
    text-align: center;
    height: 100%;
    transform: translateX(100%);
    transition: all 0.3s ease;
    padding: 0;
  }
  .banner-text {
    padding: 0;
    width: 50%;
    top: 20%;
  }
  .logo {
    left: 1rem;
  }
  .banner-text h1 {
    font-size: 5rem;
  }
  .banner-text p {
    font-size: 2rem;
  }
  .nav-btn {
    display: block;
  }
  .change .nav-links {
    transform: translateX(0);
  }
}

/* end of banner */
/* article */
#article {
  padding: 5rem 5rem 10rem 5rem;
  background-color: rgb(36, 36, 36);
}
.article-container {
  margin: 0 10rem;
}
.article-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0;
}
.img-frame {
  position: relative;
  width: 50%;
}
.img-frame:before {
  position: absolute;
  content: "";
  border: 1rem solid rgb(252, 151, 213);
  top: 2rem;
  right: -4rem;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 1rem #000;
}
.article-img {
  width: 100%;
  box-shadow: 0 0 1rem #000;
}
.img-frame2 {
  position: relative;
  width: 35%;
}
.img-frame2:before {
  position: absolute;
  content: "";
  border: 1rem solid rgb(61, 189, 240);
  top: 2rem;
  right: -4rem;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 1rem #000;
}
.article-img2 {
  width: 100%;
  box-shadow: 0 0 1rem #000;
}

.article-text {
  position: relative;
  margin-left: 5rem;
  width: 30%;
}
.article-text2 {
  width: 50%;
}
.article-text h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.article-text p {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  line-height: 3rem;
}
.article-text a {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.article-text a:hover {
  color: rgb(204, 204, 204);
  transition: all 0.2s ease;
}
.article-text a i {
  transition: transform 0.5s ease;
}
.article-text a:hover i {
  transform: translateX(50%);
}
@media (max-width: 1300px) {
  .article-text {
    width: 50%;
  }
  .article-text1 {
    margin-left: 7rem;
  }
}
@media (max-width: 1000px) {
  .article-item {
    flex-direction: column;
    padding-top: 5rem;
  }
  .article-text {
    order: 2;
    margin-top: 7rem;
    width: 70%;
  }
  .article-text1 {
    margin-left: 0;
  }
  #article {
    padding: 3rem;
  }
  .article-container {
    margin: 0;
  }
  .img-frame {
    width: 70%;
  }
  .img-frame2 {
    width: 60%;
  }
}
/* end of article */

/* news */
#news {
  padding: 5rem 5rem 15rem 5rem;
  background-color: rgb(241, 241, 241);
}
#news-header {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  margin: 5rem;
  color: rgb(70, 70, 70);
  font-weight: 500;
  text-shadow: 0 0.1rem 0.2rem rgb(138, 138, 138);
}
.news-container {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "one one two three"
    "one one four five";
}
.news-item {
  margin: 0.5rem;
  background-color: rgb(48, 48, 48);
}
.news-item img {
  width: 100%;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
}
.news-item img:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 0.5;
}
.news-item a {
  text-decoration: none;
  color: white;
}
a .news-title {
  margin: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.2s ease;
}
a .news-title:hover {
  color: rgb(243, 209, 96);
}

.news-paragraph {
  margin: 1rem;
  font-size: 1.2rem;
  line-height: 2rem;
  transition: all 0.2s ease;
}
.news-paragraph:hover {
  color: rgb(243, 209, 96);
}
.item1 {
  grid-area: one;
}
.item2 {
  grid-area: two;
}
.item3 {
  grid-area: three;
}
.item4 {
  grid-area: four;
}
.item5 {
  grid-area: five;
}
@media (max-width: 720px) {
  .news-container {
    display: flex;
    flex-direction: column;
  }
  .news-item {
    padding-bottom: 2rem;
    width: 70%;
    margin: 1rem auto;
  }
  .news-paragraph {
    display: none;
  }
  #news-header {
    font-size: 4rem;
  }
}
/* end of news */

/* ad */
#ad {
  position: relative;
  height: 30vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: rgb(241, 241, 241);
}
.video {
  width: 100%;
}
#ad ul {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
#ad ul li {
  font-size: 6em;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 0 1rem;
  opacity: 0;
}
#ad ul li:nth-child(1) {
  animation: faded 9s 0s infinite;
}
#ad ul li:nth-child(2) {
  animation: faded 9s 3s infinite;
  color: rgb(230, 189, 57);
}
#ad ul li:nth-child(3) {
  animation: faded 9s 6s infinite;
}

@keyframes faded {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 1100px) {
  #ad ul li {
    font-size: 4rem;
  }
}
/* end of ad */

/* contact */
#contact {
  height: 100vh;
  width: 100%;
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-container {
  display: flex;
  background-color: rgb(238, 238, 238);
  height: 50rem;
  width: 50%;
  box-shadow: 0 0.3rem 3rem #000;
}
.contact-left {
  width: 35%;
  background: url(./images/contact1.jpg) center no-repeat;
  background-size: cover;
}
.contact-right {
  width: 65%;
  padding: 3rem;
}
.contact-right h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(66, 66, 66);
  margin: 1rem 0;
  font-weight: 400;
  text-align: center;
  margin: 3rem 0;
}

.contact-right form {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-item {
  position: relative;
  width: 100%;
}
.input {
  width: 100%;
  border: none;
  border-bottom: 0.1rem dashed #000;
  outline: none;
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin: 2rem 0;
  transition: all 0.3s ease;
}
.input:focus {
  border-bottom-style: solid;
}
.input:focus ~ label {
  transform: translateY(-3rem);
  font-size: 1rem;
}

.input-item input {
  height: 4;
  background-color: transparent;
}
.input-item label {
  position: absolute;
  left: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: rgb(70, 70, 70);
  transition: all 0.3s ease;
}
.input-label {
  bottom: 2.5rem;
}
.message {
  bottom: 5rem;
}

.input-item textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 5rem;
  max-height: 5rem;
  background-color: transparent;

  border: none;
  border-bottom: 0.1rem dashed #000;
  outline: none;
}
.submit {
  width: 100%;
  padding: 1rem 0;
  margin-top: 2rem;
  background-color: rgb(230, 189, 57);
  border: none;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 1rem rgb(116, 116, 116);
  text-shadow: 0 0.5rem 1rem rgb(116, 116, 116);
  cursor: pointer;
  transition: all 0.2s ease;
}
.submit:hover {
  background-color: rgb(219, 179, 46);
}
@media (max-width: 1000px) {
  .contact-container {
    width: 60%;
  }
}

@media (max-width: 720px) {
  .contact-left {
    width: 0;
  }
  .contact-right {
    width: 100%;
  }
}
/* end of contact */

/* footer */
#footer {
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer h1 {
  font-weight: 500;
  color: rgb(49, 49, 49);
}
#social-media i {
  font-size: 3rem;
  margin: 0 2rem;
  color: rgb(39, 39, 39);
  transition: all 0.3s ease;
}
#social-media i:hover {
  transform: translateY(-0.5rem);
  color: rgb(223, 183, 55);
}
@media (max-width: 720px) {
  #footer {
    flex-direction: column;
  }
  #footer h1 {
    margin-top: 1rem;
    order: 2;
  }
}
/* end of footer */
