* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
html {
  font-size: 62.5%;
}
/* navbar */

.nav-links {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  padding-left: 10rem;
  z-index: 10;
}
.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  padding: 2rem 3rem;
  text-align: center;
}
.logo {
  position: fixed;
  width: 4.5rem;
  top: 1rem;
  left: 4rem;
  cursor: pointer;
  margin-right: 3rem;
  z-index: 20;
}

.nav-links a:hover {
  color: rgb(224, 224, 224);
}
.nav-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem;
  z-index: 20;
  display: none;
  cursor: pointer;
}
.bar {
  height: 0.2rem;
  width: 2.5rem;
  background-color: white;
  margin: 0.4rem;
  transition: all 0.3s ease;
  border-radius: 0.1rem;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-0.4rem, 0.5rem);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-0.4rem, -0.5rem);
}
/* end of navbar */
/* banner */
.banner-container {
  position: relative;
  height: 100vh;
  background: url(./images/pexels-photo-258045.jpeg) center no-repeat fixed;
  background-size: cover;
  overflow-x: hidden;
}
.banner-text {
  position: absolute;
  top: 20%;
  left: 10%;
  color: white;
  max-width: 80%;
  text-shadow: 0 0 0.8rem #000;
  padding: 4rem;
}
.banner-text h1 {
  font-size: 7rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.banner-text p {
  font-size: 3rem;
  margin-top: 2rem;
}
@media (max-width: 720px) {
  .nav-links {
    flex-direction: column;
    position: fixed;
    width: 35%;
    right: 0;
    text-align: center;
    height: 100%;
    transform: translateX(100%);
    transition: all 0.3s ease;
    padding: 0;
  }
  .banner-text {
    padding: 0;
    width: 50%;
    top: 20%;
  }
  .logo {
    left: 1rem;
  }
  .banner-text h1 {
    font-size: 5rem;
  }
  .banner-text p {
    font-size: 2rem;
  }
  .nav-btn {
    display: block;
  }
  .change .nav-links {
    transform: translateX(0);
  }
}

/* end of banner */
/* article */
#article {
  padding: 5rem 5rem 10rem 5rem;
  background-color: rgb(36, 36, 36);
}
.article-container {
  margin: 0 10rem;
}
.article-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0;
}
.img-frame {
  position: relative;
  width: 50%;
}
.img-frame:before {
  position: absolute;
  content: "";
  border: 1rem solid rgb(252, 151, 213);
  top: 2rem;
  right: -4rem;
  height: 100%;
  width: 100%;
}
.article-img {
  width: 100%;
}
.img-frame2 {
  position: relative;
  width: 35%;
}
.img-frame2:before {
  position: absolute;
  content: "";
  border: 1rem solid rgb(61, 189, 240);
  top: 2rem;
  right: -4rem;
  height: 100%;
  width: 100%;
}
.article-img2 {
  width: 100%;
}

.article-text {
  position: relative;
  margin-left: 5rem;
  width: 30%;
}
.article-text2 {
  width: 50%;
}
.article-text h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.article-text p {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  line-height: 3rem;
}
.article-text a {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.article-text a:hover {
  color: rgb(204, 204, 204);
  transition: all 0.2s ease;
}
.article-text a i {
  transition: transform 0.5s ease;
}
.article-text a:hover i {
  transform: translateX(50%);
}
@media (max-width: 1300px) {
  .article-text {
    width: 50%;
  }
  .article-text1 {
    margin-left: 7rem;
  }
}
@media (max-width: 1000px) {
  .article-item {
    flex-direction: column;
    padding-top: 5rem;
  }
  .article-text {
    order: 2;
    margin-top: 7rem;
    width: 70%;
  }
  .article-text1 {
    margin-left: 0;
  }
  #article {
    padding: 3rem;
  }
  .article-container {
    margin: 0;
  }
  .img-frame {
    width: 70%;
  }
  .img-frame2 {
    width: 60%;
  }
}
/* end of article */

/* news */
#news {
  padding: 5rem 5rem 15rem 5rem;
  background-color: rgb(241, 241, 241);
}
#news-header {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  margin: 5rem;
  color: rgb(36, 36, 36);
  font-weight: 500;
}
.news-container {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "one one two three"
    "one one four five";
}
.news-item {
  /* padding-bottom: 2rem; */
  margin: 0.5rem;
  background-color: rgb(36, 36, 36);
}
.news-item img {
  width: 100%;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
}
.news-item img:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 0.5;
}
.news-item a {
  text-decoration: none;
  color: white;
}
a .news-title {
  margin: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.2s ease;
}
a .news-title:hover {
  color: rgb(197, 197, 197);
}

.news-paragraph {
  margin: 1rem;
  font-size: 1.2rem;
  line-height: 2rem;
  transition: all 0.2s ease;
}
.news-paragraph:hover {
  color: rgb(197, 197, 197);
}
.item1 {
  grid-area: one;
}
.item2 {
  grid-area: two;
}
.item3 {
  grid-area: three;
}
.item4 {
  grid-area: four;
}
.item5 {
  grid-area: five;
}
@media (max-width: 720px) {
  .news-container {
    display: flex;
    flex-direction: column;
  }
  .news-item {
    padding-bottom: 2rem;
    width: 70%;
    margin: 1rem auto;
  }
  .news-paragraph {
    display: none;
  }
  #news-header {
    font-size: 4rem;
  }
}
/* end of news */

/* ad */
#ad {
  position: relative;
  height: 30vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: rgb(241, 241, 241);
}
.video {
  width: 100%;
}
#ad ul {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
#ad ul li {
  font-size: 6em;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 0 1rem;
}
@media (max-width: 1100px) {
  #ad ul li {
    font-size: 4rem;
  }
}

/* end of ad */
