* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
html {
  font-size: 62.5%;
}
/* navbar */

.nav-links {
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  padding: 2rem 3rem;
  text-align: center;
  /* text-shadow: 0rem 0rem 0.3rem #000; */
  transition: color 0.1s ease;
}

.nav-fixed {
  background-color: rgb(255, 255, 255);
  box-shadow: 0.1rem 0.1rem 0.3rem rgb(90, 90, 90);
}
.nav-fixed a {
  color: #000;
}

.logo {
  position: fixed;
  width: 3rem;
  top: 1rem;
  left: 2rem;
  cursor: pointer;
  z-index: 30;
  opacity: 1;
}

.nav-links a:hover {
  color: rgb(243, 209, 96);
}
.nav-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem;
  z-index: 20;
  display: none;
  cursor: pointer;
}

.bar {
  height: 0.2rem;
  width: 2.5rem;
  background-color: white;
  margin: 0.4rem;
  transition: all 0.3s ease;
  border-radius: 0.1rem;
  border: 0.01rem solid rgb(49, 49, 49);
}
.change .bar1 {
  transform: rotate(-45deg) translate(-0.4rem, 0.5rem);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-0.4rem, -0.5rem);
}
/* end of navbar */
/* banner */
.banner-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  perspective: 100rem;
}
.img-container {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
#banner-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: bg-zoom 25s;
  opacity: 0.7;
}
@keyframes bg-zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.banner-text {
  position: absolute;
  top: 30%;
  left: 8%;
  color: white;
  max-width: 80%;
  text-shadow: 0.2rem 0.2rem 0.1rem rgb(0, 0, 0);
  padding: 4rem;
}
.banner-text h1 {
  font-size: 7rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  opacity: 0;
  animation: banneranime 1s 0.5s forwards;
}
.banner-text p {
  font-size: 3rem;
  margin-top: 2rem;
  opacity: 0;
  animation: banneranime 1s 0.7s forwards;
}
.banner-text button {
  padding: 1.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-top: 5rem;
  background-color: rgb(230, 189, 57);
  border: none;
  box-shadow: 0.1rem 0.1rem 0.3rem rgb(0, 0, 0);
  text-shadow: 0 0.1rem 0.1rem rgb(0, 0, 0);
  font-weight: 500;
  transition: all 0.2s ease;
  outline: none;
  cursor: pointer;
  opacity: 0;
  animation: banneranime 1s 1s forwards;
}
@keyframes banneranime {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}
.banner-text button:hover {
  background-color: rgb(219, 179, 46);
}
@media (max-width: 720px) {
  .nav-links {
    flex-direction: column;
    position: fixed;
    justify-content: center;
    width: 20%;
    right: 0;

    background-color: rgb(245, 245, 245);
    text-align: center;
    height: 100%;
    transform: translateX(100%);
    transition: all 0.3s ease;
    padding: 0;
  }
  .nav-links a {
    margin: 5rem 0;
    color: #000;
  }
  .banner-text {
    padding: 0;
    width: 50%;
    top: 20%;
  }
  .logo {
    left: 0.5rem;
    width: 3rem;
  }
  .banner-text h1 {
    font-size: 5rem;
  }
  .banner-text p {
    font-size: 2rem;
  }
  .nav-btn {
    display: block;
  }
  .change .nav-links {
    transform: translateX(0);
  }
}

/* end of banner */
/* article */
#article {
  padding: 5rem;
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(./images/article-bg.jpg) center no-repeat fixed;
  background-size: cover; */
  /* background-color: rgb(63, 35, 35); */
  background: linear-gradient(rgb(255, 233, 244), rgb(185, 212, 252));
}
.article-container {
  margin: 10rem auto;
  width: 80%;
}
.article-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7rem 0;
}

.img-frame {
  position: relative;
  width: 50%;
}
.img-frame::before {
  position: absolute;
  content: "";
  border: 0.5rem solid rgb(252, 151, 213);
  top: -3rem;
  right: 2rem;
  height: 100%;
  width: 100%;
  /* box-shadow: 0 0 1rem #000; */
}

.article-img {
  width: 100%;
  /* box-shadow: 0 0.2rem 0.3rem rgb(58, 58, 58); */
  position: relative;
  box-shadow: 0.1rem 0.1rem 0.5rem rgb(139, 139, 139);
}
.img-frame2 {
  position: relative;
  width: 50%;
}
.img-frame2:before {
  border: 0.5rem solid rgb(61, 189, 240);
  position: absolute;
  content: "";
  top: 2rem;
  right: -3rem;
  height: 100%;
  width: 100%;
}

.article-text {
  position: relative;
  margin: 0 5rem;
  width: 50%;
  padding: 2rem 2rem 4rem 2rem;
}

.article-text h1 {
  font-size: 3rem;
  text-transform: capitalize;
  /* color: rgb(255, 255, 255); */
  color: rgb(58, 58, 58);
  font-weight: 500;
}
.article-text p {
  font-size: 1.5rem;
  /* color: rgb(255, 255, 255); */
  color: rgb(94, 94, 94);
  line-height: 3rem;
  text-align: justify;
}
.line {
  width: 40%;
  height: 0.3rem;
  background-color: rgb(252, 151, 213);
  margin-bottom: 2rem;
}
.line2 {
  width: 40%;
  height: 0.3rem;
  background-color: rgb(61, 189, 240);
  margin-bottom: 2rem;
}
.article-text a {
  position: absolute;
  right: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  background-color: rgb(230, 189, 57);
  font-weight: 500;
  border: 0.1rem solid rgb(230, 189, 57);
  padding: 0.5rem;
  bottom: 0.5rem;
}
.article-text a:hover {
  color: white;
  transition: all 0.2s ease;
}
.article-text a i {
  transition: transform 0.5s ease;
}
.article-text a:hover i {
  transform: translateX(50%);
}
@media (max-width: 1200px) {
  .article-container {
    width: 90%;
  }
  .article-text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .article-text h1 {
    font-size: 2.5rem;
  }
  .img-frame {
    width: 60%;
  }
  .img-frame2 {
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .article-container {
    width: 100%;
  }
  .article-item {
    flex-direction: column;
  }
  .img-frame {
    width: 80%;
  }
  .img-frame2 {
    width: 80%;
  }
  .article-text {
    order: 2;
    margin-top: 5rem;
    width: 80%;
  }
}

/* end of article */

/* ad */
#ad {
  position: relative;
  height: 15vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: rgb(241, 241, 241);
}
.video {
  width: 100%;
}
#ad ul {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
#ad ul li {
  font-size: 6em;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 0 1rem;
  opacity: 0;
}
#ad ul li:nth-child(1) {
  animation: faded 9s 0s infinite;
}
#ad ul li:nth-child(2) {
  animation: faded 9s 3s infinite;
  color: rgb(230, 189, 57);
}
#ad ul li:nth-child(3) {
  animation: faded 9s 6s infinite;
}

@keyframes faded {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 1100px) {
  #ad ul li {
    font-size: 4rem;
  }
}
/* end of ad */

/* news */
#news {
  padding: 5rem 5rem 15rem 5rem;
  /* background-color: rgb(241, 241, 241); */
  background-color: rgb(255, 255, 255);
}
#news-header {
  margin-bottom: 3rem;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5rem;
  color: rgb(94, 94, 94);
  letter-spacing: 0.3rem;
  font-weight: 500;
  text-shadow: 0 0.1rem 0.2rem rgb(46, 46, 46);
}
#news-header span {
  color: rgb(243, 209, 96);
}
.news-header-underline {
  display: none;
  background-color: rgb(214, 214, 214);
  width: 15rem;
  height: 0.4rem;
  box-shadow: 0 0.1rem 0.2rem rgb(46, 46, 46);
  margin: 1rem auto 5rem auto;
  border-radius: 0.3rem;
}
.news-container {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "one one two three"
    "one one four five";
}
.news-item {
  margin: 1rem;
  /* background-color: rgb(48, 48, 48); */
  background-color: rgb(243, 243, 243);
  box-shadow: 0 0.1rem 0.3rem rgb(65, 65, 65);
}
.news-img-container {
  overflow: hidden;
  width: 100%;
  margin-bottom: 1rem;
}
.news-item img {
  width: 100%;
  transition: all 1s ease;
}
.news-item:hover {
  background-color: rgb(70, 70, 70);
}
.news-item:hover img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  /* background-color: rgba(0, 0, 0, 0.8); */
  opacity: 0.3;
  transform: scale(1.1);
}
.news-item a {
  text-decoration: none;
  color: rgb(39, 39, 39);
}
a .news-title {
  margin: 1rem;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  transition: all 0.2s ease;
}
.news-item:hover .news-title {
  color: rgb(243, 209, 96);
}

.news-paragraph {
  margin: 1rem;
  font-size: 1.2rem;
  line-height: 2rem;
  transition: all 0.2s ease;
}
.news-item:hover .news-paragraph {
  color: rgb(243, 209, 96);
}
.item1 {
  grid-area: one;
}
.item2 {
  grid-area: two;
}
.item3 {
  grid-area: three;
}
.item4 {
  grid-area: four;
}
.item5 {
  grid-area: five;
}
@media (max-width: 720px) {
  .news-container {
    display: flex;
    flex-direction: column;
  }
  .news-item {
    padding-bottom: 2rem;
    width: 70%;
    margin: 1rem auto;
  }
  .news-paragraph {
    display: none;
  }
  #news-header {
    font-size: 4rem;
  }
}
/* end of news */

/* contact */
#contact {
  height: 100vh;
  width: 100%;
  /* background: url(./images/contact-bg1.jpeg) center no-repeat; */
  background: linear-gradient(rgb(255, 255, 255), rgb(201, 170, 170));
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-container {
  display: flex;
  /* background-color: rgb(238, 238, 238); */
  background-color: rgb(255, 255, 255);
  height: 50rem;
  width: 50%;
  box-shadow: 0 0.2rem 0.5rem rgb(53, 53, 53);
}
.contact-left {
  width: 35%;
  background: url(./images/contact1.jpg) center no-repeat;
  background-size: cover;
}
.contact-right {
  width: 65%;
  padding: 3rem;
}
.contact-right h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(66, 66, 66);
  margin: 1rem 0;
  font-weight: 400;
  text-align: center;
  margin: 3rem 0;
}

.contact-right form {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-item {
  position: relative;
  width: 100%;
}
.input {
  width: 100%;
  border: none;
  border-bottom: 0.1rem dashed #000;
  outline: none;
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin: 2rem 0;
  transition: all 0.3s ease;
}
.input:focus {
  border-bottom-style: solid;
}
.input:focus ~ label {
  transform: translateY(-3rem);
  font-size: 1rem;
}

.input-item input {
  height: 4;
  background-color: transparent;
}
.input-item label {
  position: absolute;
  left: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: rgb(70, 70, 70);
  transition: all 0.3s ease;
}
.input-label {
  bottom: 2.5rem;
}
.message {
  bottom: 5rem;
}

.input-item textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 5rem;
  max-height: 5rem;
  background-color: transparent;

  border: none;
  border-bottom: 0.1rem dashed #000;
  outline: none;
}
.submit {
  width: 100%;
  padding: 1rem 0;
  margin-top: 2rem;
  background-color: rgb(230, 189, 57);
  border: none;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.1rem 1rem rgb(141, 141, 141);
  text-shadow: 0 0.1rem 0.1rem rgb(131, 131, 131);
  cursor: pointer;
  transition: all 0.2s ease;
}
.submit:hover {
  background-color: rgb(219, 179, 46);
}
@media (max-width: 1000px) {
  .contact-container {
    width: 60%;
  }
}

@media (max-width: 720px) {
  .contact-left {
    width: 0;
  }
  .contact-right {
    width: 100%;
  }
}
/* end of contact */

/* footer */
#footer {
  padding: 3rem 5rem 1rem 5rem;
  /* background-color: rgb(241, 241, 241); */
  background-color: rgb(255, 255, 255);
}
.social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-container h1 {
  font-size: 2rem;
  color: rgb(66, 66, 66);
}
.social-container h1 img {
  width: 3rem;
  margin-right: 1rem;
  vertical-align: middle;
  cursor: pointer;
}
.copyright {
  font-weight: 500;
  color: rgb(49, 49, 49);
  text-align: center;
  font-size: 1rem;
}
#social-media i {
  font-size: 2rem;
  margin: 0 2rem;
  color: rgb(39, 39, 39);
  transition: all 0.3s ease;
  padding: 1rem;
}
#social-media i:hover {
  transform: translateY(-0.5rem);
  color: rgb(230, 189, 57);
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 2rem;
  margin: 5rem 0;
}
.footer-links a {
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: rgb(58, 58, 58);
  font-weight: 500;
  transition: all 0.1s ease;
}
.footer-links a:hover {
  color: rgb(230, 189, 57);
}

@media (max-width: 720px) {
  .social-container {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  #social-media {
    margin-top: 2rem;
  }
}
/* end of footer */
